* {
    margin: 0;
    padding: 0;
}
:root {
    --center-border: #ecef7f7;
    --center-bg: #fff;
    --clock-bg: #fff;
    --h-bg: #e5e9f2;
    --m-bg: #b4c0d5;
    --s-bg: #e2aab8;
    --bg: #fff;
    --number-bg: black;
}
[data-mode="dark"] {
    --center-border: #202020;
    --center-bg: #333333;
    --clock-bg: #201e23;
    --h-bg: #383838;
    --m-bg: #454544;
    --s-bg: #e2aab8;
    --bg: #151216;
    --number-bg: white;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bg);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 700px;
}
.out-circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 10px 20px  rgb(229, 211, 236);
    display: flex;
    align-items: center;
    background: var(--bg);
    justify-content: center;
    position: relative;
}
.center-circle {
    width: 40px;
    height: 40px;
    background: var(--center-bg);
    border: 1px solid var(--center-border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.center-dot {
    background:rgb(229, 211, 236);
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.urt-zuu {
    width: 5px;
    height: 140px;
    background: var(--s-bg);
    position: absolute;
    top: 50%;
    left: calc(50% - 2px);
    transform-origin: top center;
    transform: rotate(50deg);
}
.dund-zuu {
    width: 10px;
    height: 120px;
    background: var(--m-bg);
    position: absolute;
    top: 50%;
    left: calc(50% - 2px);
    transform-origin: top center;
    transform: rotate(100deg);
}
.bogino-zuu {
    width: 10px;
    height: 90px;
    background: var(--h-bg);
    position: absolute;
    top: 50%;
    left: calc(50% - 2px);
    transform-origin: top center;
    transform: rotate(-20deg);
}
.mode {
    width: 140px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 10%;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.mode:active {
    opacity: 0.8;
}

[data-mode="dark"] .mode {
    background: white;
    color: black;
    background-size: cover;
}
.coil {
    position: absolute;
    width: 1px;
    height: 10px;
    top: calc(30% - 100px);
    left: calc(50%);
    transform-origin: 0px 180px;
    background-color: #073c4b;
    background-color: var(--number-bg);
}
.coil1 {
    height: 20px;
    width: 2px;
    transform: rotate(0deg);
}
.coil2 {
    transform: rotate(30deg);
}
.coil3 {
    transform: rotate(60deg);
}
.coil4 {
    height: 20px;
    width: 2px;
    transform: rotate(90deg);
}
.coil5 {
    transform: rotate(120deg);
}
.coil6 {
    transform: rotate(150deg);
}
.coil7 {
    height: 20px;
    width: 2px;
    transform: rotate(180deg);
}
.coil8 {
    transform: rotate(210deg);
}
.coil9 {
    transform: rotate(240deg);
}
.coil10 {
    height: 20px;
    width: 2px;
    transform: rotate(270deg);
}
.coil11 {
    transform: rotate(300deg);
}
.coil12 {
    transform: rotate(330deg);
}
